{% extends "_base.html" %}

{% block meta_title %}
    Home
{% endblock %}

{% block content %}

    {% for object in object_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><b>
                   {% if object.user %}
                   <a href="{% url 'user_post' object.user.username %}">{{ object.user.get_full_name }}</a>
                   {% else %}anonyfish{% endif %}
                </b>@<span class="small_time">{{ object.user }} <span title="{{ object.published_at }}" class="time">{{ object.published_at|timesince }}</span></h3>
            </div>
            <div class="panel-body">
                {{ object.content|linebreaks }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block page_header %}
        Home
{% endblock %}