{% extends "_base.html" %}

{% block meta_title %}
    Home
{% endblock %}

{% block content %}

    {% for object in object_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><b>
                   {% if object.user %}
                   <a href="{% url 'user_post' object.user.username %}">{{ object.user.get_full_name }}</a>
                   {% else %}anonyfish{% endif %}
                </b>@<span class="small_time">{{ object.user }} <span title="{{ object.published_at }}" class="time">{{ object.published_at|timesince }}</span></h3>
            </div>
            <div class="panel-body">
                {{ object.content|linebreaks }}
            </div>
        </div>
    {% endfor %}


    <!--
    {% if object_list.has_previous %}
        <li class="previous"><a href="?page={{ object_list.previous_page_number }}">Newer &larr;</a></li>
    {% endif %}

    {% if object_list.has_next %}
        <li class="next"><a href="?page={{ object_list.next_page_number }}">Older &rarr;</a></li>
    {% endif %}
    -->

    <ul class="pagination">
        {% if object_list.has_previous %}
            <li><a href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for x in pages %}
            <li><a href="?page={{ x }}">{{ x }}</a></li>
        {% endfor %}
        {% if object_list.has_next %}
            <li><a href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>


{% endblock %}

{% block page_header %}
        Home
{% endblock %}