{% extends "_base.html" %}

{% block meta_title %}
   {{ user_display }}'s tweets
{% endblock %}

{% block content %}
        <h1><span class="label label-primary btn-primary">{{ user_display }}'s tweets <span class="badge">{{count}}</span></span></h1>
    {% for p in object_list %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ p.published_at|timesince }} ago
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                {{ p.content }}
            </div>
        </div>
    {% endfor %}
{% endblock %}